#wrapper {
    width: 90%;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #666666;
    font-family:'Roboto', sans-serif;
    font-size: 18px;
}
#leftNav {


    float: left;
    margin: 0;
    height:100%;
}
.profile {
    position: fixed;
    list-style-type: none;
    padding: 0;
    margin-top: 125px;
    width: 15%;
}
.profile li {
    display: block;
    padding-top: 50px;
    white-space: nowrap;
    text-align: center;
}
.topNav {
    position: relative;
    width: 100%;
    height: 20%;
    margin: 0 auto;
}
.menu {
    list-style-type: none;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    text-align: center;
}
.menu li {
    display: inline;
    padding-top: 10%;

}
.menu a {
    display:inline-block;
    padding: 0 5%;
    padding-top: 1%;
    padding-bottom: .5%;
}
.menu a:hover {
   background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(238,238,238,1) 49%, rgba(238,238,238,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(49%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 49%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(238,238,238,1) 49%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(238,238,238,1) 49%,rgba(238,238,238,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(238,238,238,1) 49%,rgba(238,238,238,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */


    text-decoration: underline;
}
.clear {
    clear:both;
}
.subscribe {
    margin-top: .09%;
    width: 100%;
    text-align: center;
    background: #7abcff;
    /* Old browsers */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#7abcff), color-stop(0.44, #60abf8), to(#4096ee));
    background: -webkit-linear-gradient(#7abcff 0%, #60abf8 44%, #4096ee 100%);
    background: -moz-linear-gradient(#7abcff 0%, #60abf8 44%, #4096ee 100%);
    background: -o-linear-gradient(#7abcff 0%, #60abf8 44%, #4096ee 100%);
    background: linear-gradient(#7abcff 0%, #60abf8 44%, #4096ee 100%);
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7abcff', endColorstr='#4096ee', GradientType=0);
    /* IE6-9 */
    padding: 1% 0;
    box-shadow: 2px 3px 2px #cccccc;
}
.subscribeInput {
    padding: .8% 0;
    width: 35%;
    font-size: 14px;
}
.submitButton {
    cursor: pointer;
    padding: .8% 3%;
   background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(238,238,238,1) 49%, rgba(238,238,238,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(49%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 49%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(238,238,238,1) 49%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(238,238,238,1) 49%,rgba(238,238,238,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(238,238,238,1) 49%,rgba(238,238,238,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */


}
.mainContainer {
    border: 1px solid #000;
}
.blog {
    margin-left: 20%;
    margin-top: 10%;
    border: 1px solid #000;
}
.footer {
    border: 1px solid #000;
}
.title {
    margin: 0;
    margin-left: 16%;
    font-size: 18px;
}
.footer {
    float: clear;
}
.navSocial, .navGlobal {
    list-style-type: none;
}
.navSocial li, .navGlobal li {
    display: inline;
}
.show {
    visibility: visible;
}
.right {
    float: right;
}
.left {
    float: left;
}
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:.0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #7abcff;
    /* Old browsers */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#7abcff), color-stop(0.44, #60abf8), to(#4096ee));
    background: -webkit-linear-gradient(#7abcff 0%, #60abf8 44%, #4096ee 100%);
    background: -moz-linear-gradient(#7abcff 0%, #60abf8 44%, #4096ee 100%);
    background: -o-linear-gradient(#7abcff 0%, #60abf8 44%, #4096ee 100%);
    background: linear-gradient(#7abcff 0%, #60abf8 44%, #4096ee 100%);
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7abcff', endColorstr='#4096ee', GradientType=0);
    /* IE6-9 */
}
.contactEmail{
    margin-left: 5%;
    padding: 2% 0;
    width: 50%;
}
.contactMessage{
    margin-left: 16.5%;
    width: 50%;
 
}
@media (max-width: 600px){
.leftNav {
    display: none;
}
